.fractaltree {
    position: relative;
    z-index: 1;
    width: 66vw;
    
}

.fractal-settings {
    padding-top: 1vw;
    color: white;
    border-left: solid;
    border-color: #212529;
    background: transparent;
}

.fractal-container {
    max-width: 100%;
    border-top: solid;
    max-height: 100vh;
}